/* Register Page CSS */
body {
  background-color: #1a1a1b;
  color: #d7dadc;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.register-container {
  margin-top: 60px;
  display: flex; /* Use flexbox for centering the register page */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: calc(100vh - 60px); /* Adjust for navbar height, change 60px as needed */
}

.registerPage {
  max-width: 400px;
  width: 100%; /* Ensure it takes full width within the max width */
  background-color: #272729;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  display: flex; /* Use flexbox for vertical alignment */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align child elements */
}

.registerHeader {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.error-message {
  color: #ff5555;
  text-align: center;
  margin-bottom: 15px;
}

.formGroup {
  margin-bottom: 20px;
  width: 100%; /* Ensure full width */
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #d7dadc;
}

.formInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #343536;
  border-radius: 4px;
  background-color: #1c1c1e;
  color: #d7dadc;
}

.formInput:focus {
  outline: none;
  border-color: #ff4500;
}

.registerButton {
  width: 100%;
  padding: 10px;
  background-color: #ff4500;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.registerButton:hover {
  background-color: #ff4d0c; /* Slightly different color on hover for contrast */
}

.registerPrompt {
  text-align: center;
  margin-top: 15px;
  color: #818384;
}

.registerLink {
  color: #ff4500;
  text-decoration: none;
  font-weight: bold;
}

.registerLink:hover {
  color: #ff4d0c; /* Hover color for contrast */
  text-decoration: underline;
}
